<%- include("./partition/header")%>
<%- include("./partition/nav")%>

<div class="pt-2 h-5/6 w-full flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold text-blue-600 ">Create Expense</h1>
    <form action="/expense/expense-save" method="post" class="mt-16 bg-blue-100 h-3/5 w-1/3 flex flex-col gap-4 rounded-2xl p-4">
        <input type="text" class="p-4 rounded-full" name="title" id="" placeholder="Enter Title here">
        <input type="text" class="p-4 rounded-full" name="amount" id="" placeholder="Enter amount here">
        <input type="text" class="p-4 rounded-full" name="category" id="" placeholder="Enter Categiry here">
        <input type="text" class="p-4 rounded-full" name="remark" id="" placeholder="Enter remark here">
        <select name="paymentmode" id="" class="p-4 rounded-full ">
            <option value="" disabled selected>Select an option</option>
            <option value="cash">Cash</option>
            <option value="upi">UPI</option>
            <option value="card">Card</option>
        </select>
        <button class="bg-blue-500 w-1/2 p-4 rounded-full place-self-center">Save Expense</button>
    </form>
</div>


<%- include("./partition/footer")%>