<nav class="bg-red-400 h-20 flex justify-between items-center">
    
    <h3 class="ml-7 text-3xl font-bold">Expense Tracker</h3>
    
    <div class="flex justify-around w-1/2 font-bold">
    <a href="/">HOME</a>
    <a href="/sighup">Sigh Up</a>
    <a href="/sighin">Sigh In</a>
    <a href="/expense/expense-show">All expenses</a>
    <a href="/expense/create-expense">Create Expense</a>
    </div>
</nav> 





